<div class="header">
  <h3 class="text-muted">IoE</h3>
  <div class="navigation">
    <ul>
      <li><a class="text-muted" ng-href="#/">Things</a></li>
      <li><a class="text-muted" ng-href="#/rules">Rules</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
          <div class="page-header"><h1>Sensors</h1></div>
    <div class="col-xs-12 col-md-6">

      <h3>Connected Sensors</h3>
      <p><span class="badge">{{ sensors.length }}</span> sensors are connected to the CGR. </p>
      <table class="table">

        <tr ng-repeat="sensor in sensors">
          <td><a ng-href="#/sensor/{{sensor.id}}">{{sensor.id}}</a></td>
        </tr>
      </table>
    </div>
    <div class="col-xs-12 col-md-6">
      <h3>Sensors Database</h3>
      <p><span class="badge">{{ dbSensors.length }}</span> sensors are in the local database.</p>
      <table class="table">

        <tr ng-repeat="sensor in dbSensors">
          <td><a ng-href="#/sensor/{{sensor.id}}">{{sensor.id}}</a></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header"><h1>Actuators</h1></div>
      <h3>Connected Actuators</h3>
      <p><span class="badge">{{ actuators.length }}</span> actuators are connected. </p>
      <table class="table">
        <tr ng-repeat="actuator in actuators">
          <td ><a ng-href="#/actuator/{{actuator.id}}">{{actuator.id}}</a> </td>
        </tr>
      </table>
    </div>
  </div>
</div>




