<div class="header">

  <h3 class="text-muted"><a ng-href="#/" title="">IoE</a></h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{liveSensor.id}}</h2>
      <p> Last update, <i class="text-mute">{{liveSensor.date | date}}</i></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Sensor Graph</h3>
        <canvas linechart options="options" data="charts" width="800" height="500"></canvas>
    </div>
    <div class="col-xs-12">
      <h3>Sensor Values</h3>
        <table class="table table-hover">
          <tr>
            <th>Date</th>
            <th>Value (in unit)</th>
          </tr>
          <tr ng-repeat="row in dbSensor">
            <td>{{row.date | date : 'hh:mm:ss'}}</td>
            <td>{{row.numericValue}}</td>
          </tr>
        </table>
    </div>
  </div>
</div>




